@import "../../styles/variables.scss";

.main {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $pitch;
  text-transform: uppercase;
  margin: 0;
  border: none;
  font-weight: 500;
  user-select: none;
  padding: 0 32px;
  position: relative;
  overflow: visible;
  background-color: var(--background);
  color: var(--text);
  --background: var(--gray);
  --text: white;
  &WidthFull {
    width: 100%;
  }
  &WidthAuto {
    width: auto;
  }
}

.children {
  display: inline-grid;
  align-items: center;
  grid-gap: 12px;
  grid-auto-flow: column;
  line-height: 1;
  &SizeRegular {
    height: 52px;
    font-size: 15px;
  }
}
