@import "../../styles/variables.scss";

.main {
  background-color: var(--background);
  color: var(--color);
  --background: var(--gray);
  --color: white;
  display: inline-flex;
  height: 52px;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: $pitch;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease 0.3s;
  position: relative;
  width: 100%;
  border: 1px solid var(--background);
  height: 52px;
  border-radius: 2px;
  z-index: 1;
  transition: all ease 0.2s;
  &:focus {
    outline: none;
    box-shadow: inset var(--background) 0px 0px 0px 2px,
      inset var(--color) 0px 0px 0px 3px !important;
  }
}

.fullWidth {
  width: 100%;
}

.arrow {
  position: absolute;
  color: var(--color);
  opacity: 0;
  transition: all ease 0.3s;
  font-family: $sans-serif;
}

.children {
  display: inline-grid;
  grid-gap: 12px;
  grid-auto-flow: column;
  align-items: center;
}

.main:hover .arrow {
  opacity: 1;
  transform: translateX(16px);
  transition: all ease 0.3s;
}

.main:hover .children {
  transform: translateX(-12px);
  transition: all ease 0.3s;
}
