@import "../../styles/variables.scss";

.pill {
  background: var(--gray);
  font-size: 13px;
  font-family: $pitch;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2px 0 2px 6px;
  margin: 2px 4px;
  position: relative;
  color: white;
  border-radius: 2px;
  line-height: 1;
  display: inline-block;
}

.close {
  cursor: pointer;
  &:focus {
    outline: none;
    border-radius: 1px;
    box-shadow: var(--background) 0px 0px 0px 1px, var(--text) 0px 0px 0px 2px;
    text-decoration: none;
  }
}
